/* COLORS */

:root{
    --nav-p: rgb(20, 20, 20);
    --bg-p-1: #292b2c;
    --bg-p-2: #284951;
    --bg-p-3: #895061;
    --bg-p-button: #284951;
    --bg-p-button-hover: #7e233f;
    --font-p: rgb(226, 226, 226);
    --bg-p-showbox: black;
}

.bg-p-1{
    background-color: var(--bg-p-1);
}

.bg-p-2{
    background-color: var(--bg-p-2);
}

.bg-p-3{
    background-color: var(--bg-p-3);
}

.bg-p-4{
    background-color: #1f424b;
}

.logo-span{
    color: #f0ad4e;
}

.heading-p-text{
    color: goldenrod;
}

.nav-p-link-color{
    color: white;
}

.nav-p-link-color:hover{
    color: #4f9bb3;
}

.show-p-section-bg{
    background-color: var(--bg-p-1);
}

.font-p{
    color: var(--font-p);
}

.show-p-item-bg{
    background-color: var(--bg-p-showbox);
    color: white;
    color: rgb(255, 201, 66);
}

.button-p-bg{
    background-color: var(--bg-p-button);
    color: white;
}

.button-p-bg:hover{
    background-color: var(--bg-p-button-hover);
    color: white;
}

.sidebar-p-bg{
    background-color: var(--bg-p-2);
}

.button-p-sidebar-bg{
    background-color: var(--bg-p-button-hover);
    color: white;
}

.button-p-sidebar-bg:hover{
    background-color: #d19644;
}

.bgnav-p{
    background-color: var(--nav-p);
}

.form-button{
    background-color: var(--bg-p-button-hover);
}


.form-button:hover{
    background-color: #d19644;
    color: black;
}

.form-container .text-input{
    border: 2px solid #d19644b0;
    color: white;
}

