

.background-form{
    background: linear-gradient(to right,rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../image/form2.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
}


a{
    text-decoration: none;
    color: inherit;
}


.form-container{
    width: 60%;
    background-color: rgb(0, 0, 0, 0.9);
    color: rgb(233, 233, 233);
    font-size: 1.2rem; 
    padding: 1rem;
    border-radius: 1rem;   
}


.form-box{   
    display: flex;
    flex-wrap: wrap;
}

.form-block{
    width: 50%;
    padding: 1.5rem 0.8rem;
}


.text-label{
    display: block;
    margin: 0.3rem 0;
}

/* Gender Starts  */
.gender-box{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.gender-label{
    display: inline-block; 
    cursor: pointer;
}

.gender-input{
    cursor: pointer;
}
/* Gender Ends */

.form-container .text-input{
    width: 100%;
    background-color: transparent;
    outline: none;
    /* border: 3px solid rgb(117, 117, 117);
    color: white; */
    margin: 0.3rem 0;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.area-height{
    min-height: 11vh;
}

.no-resize{
    resize: none;
}

.form-button{
    display: block;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.4s ease-out;
    outline: none;
    border: none;
}


.flex-column{
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.special{
    width: 30%;
}


p{
    margin: 0.3rem auto;
}



@media only screen and (max-width: 1000px){
    .form-container{
        width: 80%;
    }

    .flex-container{
        width: 90%;
    }

    .form-container p{
        line-height: 1.1rem;
    }
}

@media only screen and (max-width: 650px){

    h1{
        font-size: 1.5rem;
    }
    .form-container{
        width: 90%;
    }

    .form-block{
        width: 100%;
        padding: 0.5rem 0.2rem;
    }

    .flex-container{
        width: 95%;
        font-size: 1.2rem;
    }

    .form-container p{
        margin: 0.2rem auto;
        line-height: 1.2rem;
    }
      
}



