*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* .main{
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("../image/background.jpg") fixed no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
} */

:root{
    --bg-dark: #080424;
    --bg-light: #bdc8d8;
    --button-color: rgb(196, 25, 110);
    --button-hover: rgb(22, 170, 145);
    --font-light: white;
}

.mybg-light{
    background-color: var(--bg-light);
}

.mybg-dark{
    background-color: var(--bg-dark);
}

.mybutton{
    background-color: var(--button-color);
    transition: 0.4s ease-out;
    border: none;
}

.mybutton:hover{
    background-color: var(--button-hover);
    
}

.custom-nav{
    min-height: 9vh;
}

.nav-effect{
    color: var(--font-light);
    text-decoration: none;
    padding: 0.8rem;
    transition: 0.4s ease-out;
}

.nav-effect:hover{
    color: var(--button-color);
}

.logo-span{
    color: #f0ad4e;
}

.nav-effect:hover .logo-span{
    color: var(--button-color);
}

.carousel-item{
    max-height: 65vh;
}

.carousel-image {
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.section{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.show-heading{
    margin-top: 1rem;
}

.show-container{
    margin: auto;
    padding: 1rem 0;
    column-gap: 0.8rem;
    row-gap: 1.5rem;
}
.show-item{
    width: 15rem;
    min-height: 23rem;
    overflow: hidden;
    cursor: pointer;            
    transition: 0.4s ease-out;
    box-shadow: 0rem 0rem 0.7rem #1e2633;
}

.image-holder:hover .image{
    transform: scale(1.08);
}

.image-holder{
    height: 20rem;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    transition: 0.4s ease-out;
}

.text-holder{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    overflow: auto;
}

.button-holder{
    gap: 0.1rem;
    padding: 0.1rem;
}

.sidebar{
    width: 0rem;
    background-color: var(--bg-dark);
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.sidebar p{
    margin: 0.3rem 0;
    padding: 0;
}

.sidebar-inner{
    padding: 0.8rem;
}

.sidebar-inner::-webkit-scrollbar{
    display: none;
}

.side-image-holder{
    width: 100%;
    height: 50vh;
    margin: auto;
    /* background-color: purple; */
    overflow: hidden;
}

.side-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.side-show-details{
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
}


@media only screen and (max-width: 650px){

    html p{
        font-size: 14px;
    }

    .section{
        width: 90%;
    }

    .show-heading{
        text-align: center;
    }

    .show-item{
        width: 13rem;
        min-height: 18rem;
    }

    .carousel-item{
        max-height: 80vh;
    }
}

@media only screen and (max-width: 350px){

    html p{
        font-size: 13px;
    }




}